/* ---------- PHONES ---------- */
@media (max-width: 900px) {

    body {
        background-size: cover;      /* keep natural shadow */
        background-position: center 30%;  /* move image downward */
        background-repeat: no-repeat;
        background-color: #000;
    }

    .overlay {
        justify-content: center;
        align-items: center;
        padding-left: 6vw;
        padding-right: 6vw;
    }

    h1 {
        text-align: center;
        font-size: clamp(1.5rem, 6vw, 2.2rem);
        white-space: nowrap;
    }
}